<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:display=swap" rel="stylesheet">
    <script src="script.js"></script>
    {% block stylesheets %}
        <link rel="stylesheet" href="mapcss\style.css">
        <link rel="stylesheet" href="theme\generalstyle.css">
    {% endblock %}
</head>

<body class="login">
    {{ form_start(adminForm) }}

        <table class="login">
            <tr>
                <th colspan="2">Connexion</th>
            </tr>
            <tr>
                <td>ID Admin</td>
                <td>{{ form_widget(adminForm.idAdmin) }}</td>
            </tr>
            <tr>
                <td>Mot de passe</td>
                <td>{{ form_widget(adminForm.motDePasse) }}</td>
            </tr>    
        </table>

        <button type="submit" class="button login">confirmer</button>
    {{ form_end(adminForm) }}
</body>

