<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:display=swap" rel="stylesheet">
    {% block stylesheets %}
        <link rel="stylesheet" href="mapcss\style.css">
    {% endblock %}
</head>

<body>
    <div class="carte_container">
        <div class="horizontal_numbers">
            <div class="carte_number">
                <span>0</span>
            </div>
            <div class="carte_number">
                <span>1</span>
            </div>
            <div class="carte_number">
                <span>2</span>
            </div>
            <div class="carte_number">
                <span>3</span>
            </div>
            <div class="carte_number">
                <span>4</span>
            </div>
            <div class="carte_number">
                <span>5</span>
            </div>
            <div class="carte_number">
                <span>6</span>
            </div>
            <div class="carte_number">
                <span>7</span>
            </div>
            <div class="carte_number">
                <span>8</span>
            </div>
            <div class="carte_number">
                <span>9</span>
            </div>
        </div>
        <div class="vertical_numbers">
            <div class="carte_number">
                <span>0</span>
            </div>
            <div class="carte_number">
                <span>1</span>
            </div>
            <div class="carte_number">
                <span>2</span>
            </div>
            <div class="carte_number">
                <span>3</span>
            </div>
            <div class="carte_number">
                <span>4</span>
            </div>
        </div>

        <div id="carte">
            <div class="stand stand1">
                <span class="nom_stand">Tobat1</span>
                <span class="nom_exposant">RODRIGUEZ GROUP</span>
            </div>
            <div class="stand stand2">
                <span class="nom_stand">Tobat2</span>
                <span class="nom_exposant">OCEA</span>
            </div>
            <div class="stand stand3">
                <span class="nom_stand">Tobat3</span>
                <span class="nom_exposant">GROUPE BENETEAU INDUSTRIE</span>
            </div>
            <div class="stand stand4">
                <span class="nom_stand">Tobat4</span>
                <span class="nom_exposant"></span>
            </div>
        </div>
        
    </div>
</body>
